/*== Sensible Configuration ==================================================*/

* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  width: 100%;
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  font-size: 1.6rem;
  background: url("../images/experimental.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

a:any-link {
  color: inherit;
  text-decoration: none;
}




