<div>
  {{#if auth}}
  <div class="splash authed">
    <div>Welcome Home!</div>
    <div>You are logged in!</div>
  </div>
  {{/if}}
  {{#unless auth}}
    <div class="splash unauthed">
      <div>Login or Signup!</div>
    </div>
  {{/unless}}
</div>