<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>{{title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" type="text/css" media="screen" href="/rsc/css/reset.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="/rsc/css/main.css" />
</head>
<body>

<!--=========================================================================-->
<div class="footer-spacer">
    <header>
        <a href="https://antlerpig.com">
            <img alt="Splash Logo" src="/img/antler_pig_title_2.png" />
        </a>
        <nav>
            <a href="/news">News</a>
            <a href="/about">About</a>
        </nav>
    </header>
    {{{body}}}
</div>
<footer>
    <img class="figure" src="/img/figure_5.png" alt="Fig.5: An Antler Pig" />
    <div class="contact">
        <span>Comic &amp; Web Design by <a href="http://twitter.com/AntlerPig">JacobABrennan</a></span>
    </div>
</footer>
<!--=========================================================================-->

</body>
</html>